#clint::before {
    content: "";
    background: url('https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_1280.jpg') no-repeat center center/cover;
    position: absolute;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}